[Unit]
Description=Start server for the webcam livestream
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=INSTALL_USR
WorkingDirectory=INSTALL_DIR
ExecStart=/bin/bash run.sh

[Install]
WantedBy=multi-user.target

